logs/
*.log
debug.log*
error.log*
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
lerna-debug.log*

node_modules/
build/
out/
dist/
dist-ssr/

*.local
.env*
*.cache

.vscode/
.idea/
.DS_Store
*.swp
*.suo
*.njsproj
*.sln
*.ntvs*
